- var change = 1
.sensouContainer
	form.sensou_colorPicker
		fieldset 
			legend.sensou_sro Pick a color scheme
			label.sensou_sro(for="dark")
			input#sensou_dark(type="radio", name="theme")
			label.sensou_sro(for="light")
			input#sensou_light(type="radio", name="theme")
	form.sensou_tabPicker
		fieldset 
			legend.sensou_sro Stat Page Tabs 
			label(for="basics") Basics
			input#sensou_basics(type="radio", name="tab")
			label(for="backpack") Backpack
			input#sensou_backpack(type="radio", name="tab")
			label(for="threads") Threads
			input#sensou_threads(type="radio", name="tab")
			label(for="jutsu") Jutsu
			input#sensou_jutsu(type="radio", name="tab")
			label(for="skills") Skills
			input#sensou_skills(type="radio", name="tab")
			label(for="plotter") Plotter
			input#sensou_plotter(type="radio", name="tab")
	.tab
		.sensou_basics
			h1 Who Am I?
			.block
				dl 
					for field in data.basics
						dt= field.field
						if field.literal
							dd!= field.literal
						else
							dd= field.value
			h1 
		.sensou_backpack
			h1 Equipment
			.block
				h2 Basic Equipment
				ul
					for field in data.backpack.equipment
						li
							a(href=field.href)= field.name
				h2 Special Equipment
				for field in data.backpack.special.equipment
					h2
						a(href=field.href)=field.name
					for para in field.description
						p= para
			h1 Items
			.block
				h2 Basic Equipment
				ul
					for field in data.backpack.items
						li
							a(href=field.href)= field.name
				h2 Special Equipment
				for field in data.backpack.special.items
					h2
						a(href=field.href)=field.name
					for para in field.description
						p= para 
		.sensou_threads
			for thread in data.threads
				.sensou_thread
					h2
						a(href=thread.href)= thread.name
					for para in thread.description
						p= para
					.sensou_members
						ul
							//- for member in thread.others
							//- 	li
							//- 		a(href=member.href)= member.name
		.sensou_jutsu
			for tier in data.jutsu
				h1= tier.rank
				for spec in tier.specs
					h2= spec.spec
					ul
						for tech in spec.techniques
							li
								a(href=tech.href)= tech.name
								if tech.extras
									for extra in tech.extras
										span(class=extra.class)= extra.value 
		.sensou_skills
			for skill in data.skills
				.sensou_skill
					h1
						a(href=skill.href)= skill.name
					for para in skill.description
						p= para
	.sensou_footer
		for field in data.stats
			.sensou_stat
				b= field.value
				= field.name
				i.cp(class=field.icon)

link(rel="stylesheet", href="styles/main.scss")